### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Linux ###
*~
*.sw?

# KDE directory preferences
.directory


### Build ###
_build
*.native
documentation.html
doc

# Autotools
autom4te.cache
aclocal.m4
config.log
config.status
configure
Makefile

# ATD files
*_j.ml
*_j.mli
*_t.ml
*_t.mli
*_v.ml
*_v.mli

# merlin config file
.merlin

# settings local file
settings.json
settings_engine.json
settings_interface.json
