{
"name": "water",
"texture_name": "water",
"walkable": false, 
"swimable": true,
"flyable": true,
"walk_cost":0,
"swim_cost":1,
"fly_cost":1
}
{
"name": "plain",
"texture_name": "plain",
"walkable": true, 
"swimable": false,
"flyable": true,
"walk_cost":1,
"swim_cost":0,
"fly_cost":1
}
{
"name": "forest",
"texture_name": "forest",
"walkable": true, 
"swimable": false,
"flyable": true,
"walk_cost":3,
"swim_cost":0,
"fly_cost":1
}
{
"name": "concrete",
"texture_name": "concrete",
"walkable": true, 
"swimable": false,
"flyable": true,
"walk_cost":1,
"swim_cost":0,
"fly_cost":1
}
{
"name": "mountain",
"texture_name": "mountain",
"walkable": false, 
"swimable": false,
"flyable": true,
"walk_cost":0,
"swim_cost":0,
"fly_cost":2
}
