{
"name": "water",
"texture_name": "water",
"walkable": false, 
"swimable": true,
"flyable": true,
"cost":1
}
{
"name": "plain",
"texture_name": "plain",
"walkable": true, 
"swimable": false,
"flyable": true,
"cost":1
}
{
"name": "forest",
"texture_name": "forest",
"walkable": true, 
"swimable": false,
"flyable": true,
"cost":3
}
{
"name": "concrete",
"texture_name": "concrete",
"walkable": true, 
"swimable": false,
"flyable": true,
"cost":1
}
{
"name": "mountain",
"texture_name": "mountain",
"walkable": false, 
"swimable": false,
"flyable": true,
"cost":2
}
